{% extends "base.html" %}


{% block content %}
{% load static %}
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Add Student
                <small>Welcome to EDUGIC</small>
                </h2>
            </div>
        </div> 
    </div>
    <div class="container-fluid">        
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                        <form action="{% url 'add_student' %}" method="post">
                        {% csrf_token %}
                           <div class="row">
                                <div class="col-lg-6">
                                        <label for="">Email</label>
                                        <div class="form-group">
                                            <input type="text" name="email" id="" class="form-control" placeholder=""name='e_mail'>
                                        </div>
                                        <label for="">Name</label>
                                        <div class="form-group">
                                                <input type="text" name="name" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="">Address</label>
                                        <div class="form-group">
                                            <input type="text" name="address" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="">Alternate Number</label>
                                        <div class="form-group">
                                                <input type="text" name="alt_number" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="">Admission Date</label>
                                         <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-calendar"></i>
                                            </span>
                                            <input type="text" name="admission_date" class="form-control datetimepicker" placeholder="Please choose date & time...">
                                        </div>
                                        <label for="">Expiry Days</label>
                                        <div class="form-group">
                                                <input type="text" name="expiry_date" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="">Upload Photo</label>
                                        <div class="form-group">
                                                <input type="file" name="myFile">
                                        </div>

                                </div>
                                <div class="col-lg-6">
                                    <label for="email_address">Group</label>
                                    <select class="form-control show-tick" name="group">
                                        <option>---Select Group Name---</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>
                                    <label for="">Password</label>
                                        <div class="form-group">
                                            <input type="password" name="password" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="">Phone</label>
                                        <div class="form-group">
                                                <input type="text" name="phone" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="">Enrollment Number</label>
                                        <div class="form-group">
                                            <input type="text" name="enroll_number" id="" class="form-control" placeholder="">
                                        </div>
                                        <label for="email_address">Status</label>
                                    <select class="form-control show-tick" name="status">
                                        <option>---Status---</option>
                                        <option>Active</option>
                                        <option>Pending</option>
                                        <option>Suspend</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Save</button><br>
                                <button type="reset" class="btn btn-raised btn-warning btn-round waves-effect">Reset All</button>
                                <a href="{% url 'student' %}" class="btn btn-raised btn-danger btn-round waves-effect">Close</a>
                           </div>
                        </form>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}