{% extends "base.html" %}


{% block content %}
{% load static %}
 <section class="content home">
<form method="post" action="{% url 'multiple_delete_video' %}" >
{% csrf_token %}
    <div class="block-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Video</h2>
             </div>            
             <div class="btn-group" style="margin-left: 15px;">
                <a href="{% url 'video_post' %}" class="btn btn-success"><span class="fa fa-plus-circle"></span>&nbsp;Add New Video</a>
{#                <a href="" data-toggle="modal" data-target="#largeModal1" name="" class="btn btn-primary">&nbsp;View</a>                         #}
{#                <a href="" name="editallfrm" data-toggle="modal" data-target="#largeModal" class="btn btn-warning"><span class="fa fa-edit"></span>&nbsp;Edit</a>               #}
{#                <button type="submit" name="deleteallfrm" id="deleteallfrm"  class="btn btn-danger"><span class="fa fa-trash"></span>&nbsp;Delete</button>#}
            </div>
            </div>

            <div class="card" style="padding: 10px; margin-top: 15px;">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                        <th><input type="checkbox" name="selectAll" value="deleteall" id="selectAll"/></th>
                        <th>Id</th>
                        <th>Subject Name</th>
                        <th>Topic Name</th>
                        <th>Url</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in retrive_video %}
                        <tr>
                            <td><input type="checkbox" name="selectAll"  values="{{ i.id }}" id="selectAll" /></td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.subject_name }}</td>
                                <td>{{ i.topic_name }}</td>
                                <td>{{ i.video_url }}</td>
                                <td hidden>{{ i.id }}</td>
                                <td><a href="{% url 'edit_videotutorial' %}?id={{ i.id }}" class="btn bg-yellow waves-effect waves-light ">Edit</a>
                                    <a href="{% url 'delete_videotutorial' %}?id={{ i.id }}" class="btn bg-danger waves-effect waves-light ">Delete</a>
                                    <a href="{% url 'view_video' %}?id={{ i.id }}" class="btn bg-blue waves-effect waves-light ">View</a>
                                </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        </div>
    </div>
</form>
</section>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                        <div class="modal-header">
                                <h4 class="title" id="largeModalLabel">Edit</h4>
                            </div>
                            <form method="post" action="{% url 'video_tutorial' %}">
                                {% csrf_token %}

                                    <label for="email_address">Subject Name</label>
                                <div class="form-group">                                
                                    <input type="text" name="subject_name"  class="form-control" placeholder="Enter your Subject name">
                                </div>
                                <label for="email_address">Topics Name</label>
                                <div class="form-group">                                
                                    <input type="text" name="topic_name"  class="form-control" placeholder="Enter your topic name">
                                </div>
                                <label for="password">Details</label>
                                <div class="form-group">                                
                                    <textarea type="text" name="details"  class="form-control" placeholder="Enter your detail"></textarea>
                                </div>
                                <label for="email_address">Video URL</label>
                                <div class="form-group">                                
                                    <input type="url" name="video_url" id="url" class="form-control"
                                    placeholder="https://example.com"
                                    pattern="https://.*">
                                </div>
                                <div class="modal-footer">
{#                                    <button type="submit" class="btn btn-default btn-round waves-effect">SAVE</button>#}
{#                                    <button type="reset" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE</button>#}
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </div>

<!-- Jquery Core Js --> 


{% endblock %}